
<div class="<%= local_assigns[:css_class] %>" id="message-<%= message.id %> "data-sender-id="<%= message.user.id %>"
>
  
 
    <div class="message-container d-flex"> 
      <%= cl_image_tag message.user.photo.key, alt: "Profile picture", width: 40, height: 40, crop: :fill, class: "avatar chat-avatar rounded-circle ml-3" %>

      <div class="arrow"></div>
      <div class="chat-card card-body card text-white bg-dark mb-3" style="max-width: 40rem;">
        <blockquote class="blockquote mb-0">
          <p id="message-<%= message.id %>"><%= message.content %></p>
            <footer class="blockquote-footer">
              <cite title="Source Title">
                <i class="author">
                  <span><%= message.user.username %></span>
                  <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                </i>
              </cite>
            </footer>
        </blockquote>
      </div>
    </div>
 </div>


