<div class="container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :genre_ids, collection: Genre.all.collect {|x| [x.name, x.id]},
                  as: :check_boxes,            
                  input_html: { multiple: true }, 
                  include_blank: false, 
                  include_hidden: false, 
                  label: 'What music genres do you enjoy? 🎶' %>
      <%= f.input :skill_ids, collection: Skill.all.collect {|x| [x.name, x.id]},
                  as: :check_boxes,
                  input_html: { multiple: true },
                  include_blank: false, 
                  include_hidden: false,
                  label: 'What are you good at? 😃' %>
      <%= f.input :bio, prompt: "Tell us a bit more about yourself",
                  required: true,
                  input_html: { autocomplete: "bio" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: "btn-chatroom"%>
    </div>
  <% end %>
  <div class="m-3">
    <h3>Cancel my account</h3>
    <br>
    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    <br>
    <%= link_to "Back", :back %>
  </div>

</div>
