  <div class="conversations-sidebar m-3">
    <h1 class="m-3">Your Chats</h1>

    <div class="active-chats m-3">
      <% @chatrooms.each do |chatroom| %>

        <% if chatroom.status == true %>

          <%= link_to chatroom_path(chatroom) do %>
            <div class="person mt-3 rounded">

              <% chatroom.users.where.not(id: current_user.id).each do |user|  %>
                <%= cl_image_tag user.photo.key, alt: "Profile picture", width: 40, height: 40, crop: :fill, class: "avatar-group avatar chat-avatar rounded-circle ml-3 mt-1 mb-1" %>
                <span class="username ml-3 mt-1 mb-1"><%= user.first_name %></span>
              <% end %>

            </div>
          <% end %>
        
        <% elsif chatroom.status == false %>

        <% else %>
          
          <% if @user_chats.find_by(chatroom: chatroom.id).requestor == true  %>
            <div class="person mt-3 rounded">
              <% chatroom.users.where.not(id: current_user.id).each do |user|  %>
                <%= cl_image_tag user.photo.key, alt: "Profile picture", width: 40, height: 40, crop: :fill, class: "avatar-group avatar chat-avatar rounded-circle ml-3 mt-1 mb-1" %>
                 <span class="username ml-3 mt-1 mb-1"><%= user.first_name %></span>
              <% end %>
              <h6>- chat pending <i class="fas fa-user-clock ml-3"></i></h6>
            </div>
          <% else %> 
            <div class="person mt-3 rounded">
              <% chatroom.users.where.not(id: current_user.id).each do |user|  %>
                <%= cl_image_tag user.photo.key, alt: "Profile picture", width: 40, height: 40, crop: :fill, class: "avatar-group avatar chat-avatar rounded-circle ml-3 mt-1 mb-1" %>
                 <span class="username ml-3 mt-1 mb-1"><%= user.first_name %></span>
              <% end %>
              <div class="accept-chat-btn ml-3">
                <%= link_to '<i class="fas fa-check"></i>'.html_safe, accept_chatroom_path(chatroom.id), method: :patch  %>                
                <%= link_to deny_chatroom_path(chatroom.id), method: :patch do %>
                  <i class="fas fa-times"></i>
                <% end %>
              </div>
            </div>
          <% end %>  
        <% end %>
      <% end %>
    </div>
  </div>