<div class="d-flex chat-messages-container">

<%= render "sidebar" %>

  <div class="messages-container mr-3">
    <div class="d-flex flex-column chat-blurry">
      <div class="container justify-content-center pushchatdown"> 

        <div class="d-flex justify-content-center p-3">
        <h1>The chat itself</h1>
        </div>

          <div id="messages" data-chatroom-id="<%= @chatroom.id %>" data-current-user-id="<%= current_user.id %>">
            <% @chatroom.messages.each do |message| %>

              <% if message.user == current_user %>
                <%= render "messages/message", message: message, css_class: 'sent-message' %>
              <% else %>
                <%= render "messages/message", message: message, css_class: 'received-message' %>
              <% end %>

            <% end %>
          </div>

      </div>

      <div class="message-form d-flex flex-row align-items-center">
        <div class="growbig m-3">
            <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
            <%= f.input :content, label: false, placeholder: "Message" %>
          <div class="growsmol m-3">
            <%= button_tag type: 'submit', class: "btn btn-outline-warning mb-3", id:"float-right" do %>
              <i class='fas fa-paper-plane'></i>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>




