<div class="d-flex chat-messages-container">

  <div class="conversations-sidebar m-3">
    <h1 class="m-3">Your Chats</h1>
    <div class="current-user m-3">
      <span><%= current_user.username %></span>
    </div>

      <div class="active-chats m-3">
        <% @chatrooms.each do |chatroom| %>

          <% if chatroom.status == true %>
          <div class="person mt-3 rounded">

            <% chatroom.users.where.not(id: current_user.id).each do |user|  %>
              <%= cl_image_tag user.photo.key, alt: "Profile picture", width: 40, height: 40, crop: :fill, class: "avatar-group avatar chat-avatar rounded-circle ml-3 mt-1 mb-1" %>
            <% end %>

            <%= link_to chatroom.id, chatroom_path(chatroom.id) %>

          </div>
          <% elsif chatroom.status == false %>

          <% else %>
            
            <% if @user_chats.find_by(chatroom: chatroom.id).requestor == true  %>
              <h5>pending accpetance</h5>
            <% else %> 
              <div class="accept-chat-btn">
                <%= link_to "accept this chat placeholder", accept_chatroom_path(chatroom.id), method: :patch  %>
              </div>

            <% end %>
            
          <% end %>

        <% end %>
      </div>
    
    
  </div>

  <div class="messages-container">
    <div class="container justify-content-center" id="messages" data-chatroom-id="<%= @chatroom.id %>"> 
      <div class="d-flex justify-content-center m-3">
      <h1>The chat itself</h1>
      </div>

      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <div class="message-form container">
      <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Message" %>
      <%= f.submit label: '<i class="far fa-paper-plane "></i>'.html_safe, class: "btn btn-outline-warning" %>
      <% end %>
    </div>
  </div>

</div>
