<div class="banner">
  <div class="container" id="title-index">
    <h1><strong>SOUNDMATES</strong></h1>
    <p>Find your fellow creatives.</p>
  </div>
</div>

<div class="container">
  <div class="row my-5 justify-content-between text-white" style="text-align: center;">
    <div class="value col-lg-3">
      <i class="value-margin fas fa-search" id="icon-value" ></i>
      <h4>Discover musicians profiles</h4>
    </div>
    <div class="value col-lg-3">
      <i class="value-margin fas fa-music" id="icon-value"></i>
      <h4>Look for a skill or music genre</h4>
    </div>
    <div class="value col-lg-3">
      <i class="value-margin fas fa-user-plus" id="icon-value"></i>
      <h4>Connect and collaborate</h4>
    </div>
  </div>
  <div class="row text-white justify-content-center my-30 font-weight-bold">
    <h2 class=" font-weight-bold">Find your next sound mate</h2>
  </div>

  <!-- if no search params entered, then show our 3 user cards -->
  <% if !params[:query] %>
    <div class="row my-5 justify-content-between">
      <% @users.each do |user| %>
        <div class="col-12 col-lg-6 col-xl-6 d-flex justify-content-center my-3">
          <div class="card p-3">
            <div class="d-flex align-items-center">
              <div class="image">
                <% if user.photo.attached? %>
                  <%= cl_image_tag user.photo.key, alt: "Profile picture", width: 155, height: 155, crop: :fill, class: "rounded" %>
                <% else %>
                  <%= cl_image_tag("no-photo.jpg_xfimyh", width: 155, height: 155, crop: :fill, class: "rounded") %>
                <% end%>
              </div>
                <div class="ml-3 w-100">
                  <h4 class="mb-0 mt-0 text-white"><%= user.first_name %></h4> <span class="text-white"> <%= user.skills.first.name %></span>
                <div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm btn-outline-primary w-100"> <%= link_to "See Profile", user_path(user.username) %> </button> </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

    <!-- if search params entered, then show our user card results to query -->
  <% if params[:query] %>
    <div class="row my-5 justify-content-between" id= "search">
      <% @users.each do |user| %>
          <%= render "user_card", user: user %>
      <% end %>
    </div>
  <% end %>

  <% if !params[:query] %>
    <div class="row text-white justify-content-center my-3">
      <h2  class=" font-weight-bold">Browse by music genre </h2>
    </div>
  <% end %>

  <!-- if no search params entered, show carousal and genre category links  -->
  <% if !params[:query] %>
    <div class="genre-table">
      <%= link_to genre_users_path(query:"rock") do %>
      <div class="element-genre-table">
          <div class="title">
          Rock
          </div>
      </div>
      <%end %>
      <%= link_to genre_users_path(query:"jazz") do %>
      <div class="element-genre-table">
        <div class="title">
          Jazz
        </div>
      </div>
      <%end%>
      <%= link_to genre_users_path(query:"pop") do %>
      <div class="element-genre-table">
        <div class="title">
          Pop
        </div>
      </div>
      <% end %>
      <%= link_to genre_users_path(query:"funk_soul") do %>
      <div class="element-genre-table">
        <div class="title">
          Funk/Soul
        </div>
      </div>
      <%end %>
      <%= link_to genre_users_path(query:"folk") do %>
      <div class="element-genre-table">
        <div class="title">
          Folk
        </div>
      </div>
      <%end %>
      <%= link_to genre_users_path(query:"electronic") do %>
      <div class="element-genre-table">
        <div class="title">
          Electronic
        </div>
      </div>
      <%end %>
      <%= link_to genre_users_path(query:"hip_hop") do %>
      <div class="element-genre-table">
        <div class="title">
          Hip/Hop
        </div>
      </div>
      <%end %>
      <%= link_to genre_users_path(query:"classical") do %>
      <div class="element-genre-table">
        <div class="title">
          Classical
        </div>
      </div>
      <%end %>
      <%= link_to genre_users_path(query:"stage") do %>
      <div class="element-genre-table">
        <div class="title">
          Stage
        </div>
      </div>
      <%end %>
      <%= link_to genre_users_path(query:"reggae") do %>
      <div class="element-genre-table">
        <div class="title">
          Reggae
        </div>
      </div>
      <%end %>
      <%= link_to genre_users_path(query:"latin") do %>
      <div class="element-genre-table">
        <div class="title">
          Latin
        </div>
      </div>
      <%end %>
      <%= link_to genre_users_path(query:"military") do %>
      <div class="element-genre-table">
        <div class="title">
          Military
        </div>
      </div>
      <%end %>
      <%= link_to genre_users_path(query:"blues") do %>
      <div class="element-genre-table">
        <div class="title">
          Blues
        </div>
      </div>
      <% end %>
      <%= link_to genre_users_path(query:"non_music") do %>
      <div class="element-genre-table">
        <div class="title">
          Non-music
        </div>
      </div>
      <%end %>
      <%= link_to genre_users_path(query:"childrens") do %>
      <div class="element-genre-table">
        <div class="title">
          Children's
        </div>
      </div>
      <%end %>

    </div>
    <div class="row text-white justify-content-center my-3">
      <h2 class="font-weight-bold">Find the skill you need </h2>
    </div>
    <div class="row justify-content-center my-5">
      <div class="col-6 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
        <%= link_to instrumentalists_users_path do %>
          <div class="circular-card d-flex align-items-center justify-content-center" id="instrumentalists">
            <p>Instrumentalists</p>
          </div>
        <% end %>
      </div>
      <div class="col-6 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
        <%= link_to vocalists_users_path do %>
          <div class="circular-card d-flex align-items-center justify-content-center" id="vocalists">
            <p>Vocalists</p>
          </div>
        <% end %>
      </div>
      <div class="col-6 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
        <%= link_to technicians_users_path do %>
          <div class="circular-card d-flex align-items-center justify-content-center" id="technicians">
            <p>Technicians</p>
          </div>
        <% end %>
      </div>
      <div class="col-6 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
        <%= link_to djs_users_path do %>
          <div class="circular-card d-flex align-items-center justify-content-center" id="djs">
            <p>DJs</p>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
</div>
