<!--Modal-->
<div class="modal" tabindex="-1" role="dialog" id="modalPhoto">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload a photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="photo-form">
          <%=simple_form_for @user, url: add_photo_user_path(@user.username), method: :patch do |f| %>
            <%= f.input :photo, as: :file %>
            <%= f.button :submit, class: "btn-chatroom" %>
          <%end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--Modal end-->


<div class="container" id="text-white">
  <div class="row banner-dark rounded">
    <div class="d-flex flex-column align-items-start justify-content-end py-3 ml-3">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, alt: "Profile picture", height: 200, width: 200, crop: :fill, class: "profile-image rounded" %>
      <% else %>
        <%= cl_image_tag("no-photo.jpg_xfimyh", height: 200, width: 200, crop: :fill, class: "profile-image") %>
      <% end%>
      <div id="btn-box">
        <button type="button" data-toggle="modal" data-target="#modalPhoto" class="btn-orange-short my-3">Edit Photo</button>
        <button type="button" class="btn-orange-short my-3"> <%= link_to "Edit Profile", edit_user_registration_path %> </button>
      </div>
    </div>

    <div class="d-flex flex-column align-items-start justify-content-center ml-3">
      <div id="username">
        <%= @user.first_name %>
      </div>

      <div style="height: 40px" id="user-genres">
        <% @user.genres.each do |genre| %>
          <span id="emoji">&#x266b;</span><%= genre.name  %>&nbsp;
        <%end %>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-end align-items-baseline row-shadow row-info">

    <div class="col-lg-3 py-3" id="mates">
      <h5>Mates</h5>
      <%= @user.chatrooms.count %>
    </div>
    <div class="col-lg-3 py-3" id="shares">
      <h5>Shares</h5>
      <%= @user.shares.count %>
    </div>
    <div class="col-lg-3 py-3">
      <div class="chatroom-buttons">
        <% if current_user && @chatroom %>
          <% if @chatroom.status == nil %>
            <h5>Connection Pending</h5>
          <% elsif @chatroom.status == false %>
            <h5>Connection Denied</h5>
          <% elsif @chatroom.status == true && current_user != @user %>
            <h5>Already Connected</h5>
          <% end %>
          <button class="btn-chatroom my-3" type="button"><%= link_to "Your chatrooms", chatrooms_path %></button>

        <% end %>
        <% if current_user != @user && !@chatroom %>
          <button class="btn-chatroom" type="button"><%= link_to "CONNECT",user_chatrooms_path(@user.username), method: :post, class: "" %></button>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row row-shadow my-5">
    <div class="col p-3">
      <h3>About</h3>
      <p><%= @user.bio %></p>
    </div>
  </div>

  <div class="row row-shadow my-5">
    <span>
      <div class="col p-3">
      <h2>Skills</h2>
        <% @user.skills.each do |skill| %>
          <span id="emoji">&#x266a;</span><%= skill.name %>&nbsp;
        <%end %>
      </div>
    </span>
  </div>

  <div class="row row-shadow my-5">
    <div class="col p-3">
      <h2>Shares</h2>
      <% @user.shares.each do |share| %>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= ['644618100', '271188615', '136405212'].sample %>&color=%23f7b358&auto_play=false&hide_related=true&show_comments=true&show_user=false&show_reposts=false&show_teaser=false" style="width: 250px; height: 200px;">
        </iframe>
        <iframe width="100%" height="166" src="https://www.youtube.com/embed/Xmr97isqg5k" style="width: 250px; height: 200px;">
        </iframe>
        <iframe width="100%" height="166" frameborder="0" allowtransparency="true" allow="encrypted-media" src="https://open.spotify.com/embed/track/7dLwZkHixHbTtbauejtzrm" style="width: 250px; height: 200px;">
        </iframe>
      <% end %>
    </div>
  </div>

  <div class="row row-shadow my-5">
    <div class="col p-3">
      <span><h2>Social</h2>
      <div class="social">
        <div class="social-links">
          <% @user.shares.each do |share| %>
            <iframe allowtransparency="true" scrolling="no" frameborder="no"
              src="https://w.soundcloud.com/icon/?url=<%=share.link%>%2F?&color=orange_white&size" style="width: 35px; height: 35px;">
            </iframe>
          <% end %>
            <!-- <a href="#"><i class="fa fa-spotify"></i></a> -->
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      </span>
    </div>
  </div>

</div>
