<div class="container" id="text-white">
  <div class="row ">
    <div class="col-lg-4">
      <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, alt: "Profile picture", height: 200, width: 200, crop: :fill %>
      <% else %>
      <%= cl_image_tag("no-photo.jpg_xfimyh", height: 200, width: 200, crop: :fill) %>
      <% end %>
    </div>
    <div class="col-lg-4">
      <div id="username">
        <%= @user.username %>
      </div>
      <% @user.genres.each do |genre| %>
      #
      <%= genre.name%>
        <%end %>
          <%=simple_form_for @user, url: add_photo_user_path(@user.username), method: :patch do |f| %>
          <%= f.input :photo, as: :file %>
          <%= f.button :submit %>
          <%end %>
    </div>
    <div class="col-lg-4 d-flex">
      <div id="mates">
        Mates
      </div>
      <div id="shares">
        Shares
      </div>
      <%= link_to "CONNECT",user_chatrooms_path(@user.id), method: :post, class: "" %>
    </div>
  </div>
  <div class="row" id="info">
    <h2>Bio</h2>
    <br>
    <br>
    <%= @user.bio %>
  </div>
  <div class="row"id="info">
    <h2>Skills</h2>
    <br>
    <br>
    <% @user.skills.each do |skill| %>
      <%= skill.name%>
      <%end %>
  </div>
  <div class="row"id="info">
    <h2>Shares</h2>
    <br>
    <br>
    <% @user.shares.each do |share| %>
    <%= share.link %>
    <br>
    <%= share.platform %>
    <% end %>
  </div>
</div>
