<!--Modal-->
<div class="modal" tabindex="-1" role="dialog" id="modalPhoto">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload a photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="photo-form">
          <%=simple_form_for @user, url: add_photo_user_path(@user.username), method: :patch do |f| %>
            <%= f.input :photo, as: :file %>
            <%= f.button :submit %>
          <%end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--Modal end-->


<div class="container" id="text-white">
  <div class="row banner-dark">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, alt: "Profile picture", height: 200, width: 200, crop: :fill, class: "profile-image" %>
    <% else %>
      <%= cl_image_tag("no-photo.jpg_xfimyh", height: 200, width: 200, crop: :fill, class: "profile-image") %>
    <% end%>

    <div class="d-flex flex-column align-items-start justify-content-end py-3 ml-3">
      <div id="username">
        <%= @user.first_name %>
      </div>
      <div>
        <% @user.genres.each do |genre| %>
          #
          <%= genre.name%>
        <%end %>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-lg-4">
      <button type="button" data-toggle="modal" data-target="#modalPhoto" id="btn-orange">Upload Photo</button>
    </div>
    <div class="col-lg-2" id="mates">
      <h4>Mates</h4>
    </div>
    <div class="col-lg-2" id="shares">
      <h4>Shares</h4>
    </div>
    <div class="col-lg-4 d-flex justify-content-center">
      <div class="chatroom-buttons">
        <% if current_user && @chatroom %>
          <p>Already Connected</p>
          <%= link_to "your chatrooms", chatrooms_path %>
        <% else %>
          <%= link_to "CONNECT",user_chatrooms_path(@user.username), method: :post, class: "" %>
        <% end %>
      </div>
    </div>
  </div>
  
  
  <div class="row pt-4">
    
    
  </div>
  <div class="row" id="info">
    <h2>Bio</h2>
    <br>
    <br>
    <%= @user.bio %>
  </div>
  <div class="row" id="info">
    <h2>Skills</h2>
    <br>
    <br>
    <% @user.skills.each do |skill| %>
      <%= skill.name%>
      <%end %>
  </div>
  <div class="row" id="info">
    <h2>Shares</h2>
    <br>
    <br>
    <% @user.shares.each do |share| %>
    <%= share.link %>
    <br>
    <%= share.platform %>
    <% end %>
  </div>
</div>
