<div class="navbar navbar-expand-sm navbar-light navbar-lewagon ">
  <%= link_to users_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", class: "logo" %>
  <% end %>

  <div class="buttons-dropdown d-none" style="display: flex">
    <div class="btn-group dropleft">
      <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Skills
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "Remixers", skills_users_path(query:"remix"), class: "dropdown-item" %>
        <%= link_to "Vocalists", skills_users_path(query:"vocals"), class: "dropdown-item" %>
        <%= link_to "Instrumentalists", skills_users_path(query:"instruments"), class: "dropdown-item" %>
        <%= link_to "Writers", skills_users_path(query:"writing"), class: "dropdown-item" %>
        <%= link_to "Arranger", skills_users_path(query:"arrangement"), class: "dropdown-item" %>
        <%= link_to "Producers", skills_users_path(query:"production"), class: "dropdown-item" %>
        <%= link_to "Technicians", skills_users_path(query:"technical"), class: "dropdown-item" %>
        <%= link_to "Designers", skills_users_path(query:"visuals"), class: "dropdown-item" %>
        <%= link_to "DJs", skills_users_path(query:"dj_mix"), class: "dropdown-item" %>
        <%= link_to "Managers", skills_users_path(query:"management"), class: "dropdown-item" %>
        <%= link_to "Conductors", skills_users_path(query:"conducting_&_leading"), class: "dropdown-item" %>
        <%= link_to "Actors", skills_users_path(query:"acting,_literary_&_spoken"), class: "dropdown-item" %>
      </div>
    </div>

    <div class="btn-group dropleft">
      <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Genres
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "Rock", genre_users_path(query:"rock"), class: "dropdown-item" %>
        <%= link_to "Electronic", genre_users_path(query:"electronic"), class: "dropdown-item" %>
        <%= link_to "Pop", genre_users_path(query:"pop"), class: "dropdown-item" %>
        <%= link_to "Funk/Soul", genre_users_path(query:"funk_soul"), class: "dropdown-item" %>
        <%= link_to "Jazz", genre_users_path(query:"jazz"), class: "dropdown-item" %>
        <%= link_to "Folk, World, & Country", genre_users_path(query:"folk"), class: "dropdown-item" %>
        <%= link_to "Hip-Hop", genre_users_path(query:"hip_hop"), class: "dropdown-item" %>
        <%= link_to "Classical", genre_users_path(query:"classical"), class: "dropdown-item" %>
        <%= link_to "Stage & Screen", genre_users_path(query:"stage"), class: "dropdown-item" %>
        <%= link_to "Reggae", genre_users_path(query:"reggae"), class: "dropdown-item" %>
        <%= link_to "Latin", genre_users_path(query:"latin"), class: "dropdown-item" %>
        <%= link_to "Blues", genre_users_path(query:"blues"), class: "dropdown-item" %>
        <%= link_to "Non-Music", genre_users_path(query:"non_music"), class: "dropdown-item" %>
        <%= link_to "Children's", genre_users_path(query:"childrens"), class: "dropdown-item" %>
        <%= link_to "Brass & Military", genre_users_path(query:"military"), class: "dropdown-item" %>
      </div>
    </div>
  </div>

  <div class="input-group" style="justify-content: center;">
    <span class="search-style input-group-append search-bar-wrap">
      <%= form_tag users_path(anchor: "search"), method: :get, class: "form-inline #{'search-bar-landing-page'if request.fullpath =='/users' || request.fullpath == '/'}", style: "justify-content: center" do %>
      <%= text_field_tag :query, params[:query], class: "form-control py-2", type: "search", placeholder: "Find creatives"%>
        <div class = search-icon-wrap>
          <button class="btn search-bar-icon" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
    </span>
    <% if params[:query] %>
        <%= link_to users_path do %>
        <i class="fas fa-undo-alt search-bar-icon-back"></i>
        <%end %>
    <% end %>
    <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, alt: "Profile picture", width: 70, height: 70, crop: :fill, class: "avatar-navbar", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My profile", user_path(current_user.username), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          <% else %>
            <%= link_to "My profile", user_path(current_user.username), class: "dropdown-item text-white" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item text-white" %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
