  <div class="about-bgd">
    <div class="container">
      <div class="row d-flex my-5 justify-content-center text-white">
        <h1 class = "m-3"> The soundmates team 😃</h1>
      </div>
      <div class="row my-5 justify-content-between">
        <% @users.each do |user| %>
          <div class="col-12 col-lg-6 col-xl-6 d-flex justify-content-center my-5 ">
            <div class="card p-3">
              <div class="d-flex align-items-center">
                <div class="image">
                  <% if user.photo.attached? %>
                    <%= cl_image_tag user.photo.key, alt: "Profile picture", width: 155, height: 155, crop: :fill, class: "rounded" %>
                  <% else %>
                    <%= cl_image_tag("no-photo.jpg_xfimyh", width: 155, height: 155, crop: :fill, class: "rounded") %>
                  <% end%>
                </div>
                <div class="ml-3 w-100">
                  <h4 class="mb-0 mt-0 text-white"><%= user.first_name %></h4>
                  <h4 class="text-white"><%= user.last_name %></h4>
                  <div class="button mt-2 d-flex flex-row align-items-center">
                    <%= link_to "See Profile", user_path(user.username), class: "btn btn-sm btn-orange-profile w-100" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>